#main{
    width:100%;
margin : 0;
  }

  #d1{
    width:50%;
margin : 0;
float : left ;
  }
  
  #d2{
    width:50%;
margin : 0;
float : left ;
  }


table, th, td {
    border: 1px solid black;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
}

img {
    width: 50px;
}